.App {
  text-align: center;
}

h1{
  margin: 0px;
  padding: 15px;
}

nav{
  text-align: center;
}




body{
  position: relative;
}


.col{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}

.img{
  position: relative;
}
.dropdown{
  border-radius: 10px;
  border: 1px solid white;
  position: absolute;
 
}

button{
  font-size: large;
  border: none;
  padding: 3px 10px;
  background-color: white;
  border-bottom: 1px solid grey;

}

.outer{
  border: none;
}

.hidden{
  display: none;
}


.imgSelect{
  height: 400px;
  width: 400px;

}

.select{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.winner{
  position: absolute;
  top: 10px;
  color: red;
  font-size: larger;
  
}