.App {
  text-align: center;
}

h1{
  margin: 0px;
  padding: 15px;
}






body{
  position: relative;
}


.col{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}

.img{
  position: relative;
}
.dropdown{
  border-radius: 10px;
  border: 1px solid white;
  position: absolute;
 
}

button{
  font-size: large;
  border: none;
  padding: 3px 10px;
  background-color: white;
  border-bottom: 1px solid grey;

}

.outer{
  border: none;
}

.hidden{
  display: none;
}